/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-bg);
  color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: var(--line-height);
  font-size: var(--font-base);
}

/* Links */
a {
  color: var(--primary);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--primary-light);
  text-decoration: underline;
}

/* Imagens responsivas */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}